* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    background-color: lightcoral;
}
.col-5{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    background-color: rgb(184, 103, 103);

}
.col-6{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    background-color: rgb(151, 104, 104);
}
div {
    display: block;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(241, 172, 199);
}
:root {
    --text-color: #555;
    --text-color-2: #8a8a8a;
    --highlight-color: #ff523b;
    --dark-highlight-color: #563434;
    --bg-color: #ffd6d6;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hdng{
    background-color: lavender;
}